* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----------------- Custom Card ------------ */
.custom-card {
  background-color: #FFFFFF;
  border: 2px solid #EFEFEF;
  border-radius: 10px;
  overflow: hidden;
}

.card-checkbox {
  padding: 15px;
  font-weight: 400;
  color: #1B1B1B;
  font-family: Plus Jakarta Sans;
}

.custom-card:hover {
  border: 2px solid #65E9D9;
}

.custom-card .form-check-input {
  border: 2px solid #616161 !important;
}

.custom-card .form-check-input:checked {
  background-color: #21B6A8 !important;
  border-color: #21B6A8 !important;
  background-size: 18px !important;
}

.custom-card .form-check-input:focus {
  box-shadow: none !important;
}

/* -------------ToolTip Content ------------ */
.tooltip-content{
  padding: 3px;
  font-size: 12px;
  min-width: 100px
}
.tooltip-content h6 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 3px;
}